<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <img src="assets/welcome/slide-1.png"/>
        <h2>Bienvenido</h2>
        <p>App sobre el Club Depotivo Tenerife</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/welcome/slide-2.svg"/>
      <h2>Noticias </h2>
      <p>Conoce las últimas novedades al instante</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/welcome/slide-3.svg"/>
      <h2>Calendario</h2>
      <p>Consulta <b> horarios y resultados </b> de todos los partidos.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/welcome/slide-4.svg"/>
      <h2>Información</h2>
      <p>Toda la información sobre las <b>alineaciones, clasificaciones, goles, asistencias </b> en los diferentes torneos en los que participa el equipo.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/welcome/slide-5.svg"/>
      <h2>Tienda y Entradas</h2>
      <p>Ofrece la posibilidad de comprar <b>entradas y merchandising </b> en el que podrás encontrar descuentos exclusivos</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/welcome/slide-6.svg"/>
      <h2>Nuevo canal de comunicación</h2>
      <p> Disfruta de una experencia interactiva en los partidos gracias al uso de la <b>tecnología beacon</b>
        <!--, con la que podrás disfrutar de contenido exclusivo y mejorar tu experencia como asistente-->
        </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/welcome/slide-7.svg"/>
      <h2>¿Listo para empezar?</h2>
      <br>
      <ion-button fill="solid" shape="round" [routerLink]="['/login']" routerDirection="forward">Entrar</ion-button>
    </ion-slide> 

  </ion-slides>
</ion-content>
