<ion-content>

  <div class="title">
    <h3>¿Olvidaste la contraseña?</h3>
    <p>Introduce tu dirección de correo electrónico de recuperación</p>
  </div>

  <div class="form">
    <form (submit)="recoverPassword($event)" #form>

      <ion-item>
        <fa-icon [icon]="icons.email" class="ion-margin-end"></fa-icon>
        <ion-input type="email" name="email" [(ngModel)]="email" (keydown.enter)="recoverPassword()" placeholder="Correo"
          clearInput></ion-input>
      </ion-item>

      <div class="button-send">
        <ion-button (click)="recoverPassword()" color="primary" mode="ios">Enviar</ion-button>
      </div>
    </form>
  </div>

  <div class="back-login">
   <a [routerLink]="['/login']"> Volver Atrás </a>
  </div>

</ion-content>