
.header{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast );
    --padding-top: 20px;
    --padding-bottom: 20px;

    p {
        color: var(--ion-color-primary-contrast );
    }
}


ion-item {
    --padding-bottom: 5px;
    --padding-top: 5px;
}

fa-icon {
    margin-right: 10px;
}

.stadium {
    margin-right: 10px;
}

// TODO: CAMBIAR COLOR DEL MENU
/*ion-menu {
    --ion-background-color: var(--ion-color-primary);
    --ion-text-color: var(--ion-color-primary-contrast);
  
    ion-toolbar {
      --background: var(--ion-color-primary);
    }
  
    ion-list {/
      background: transparent;
    }
  }
*/

