<app-header [showBackButton]="false" name="Concursos-sorteos">
    <ion-buttons start>
        <ion-back-button defaultHref="/home" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
</app-header>

<ion-content class="ion-padding">

    <ng-container *ngIf="data.length == 0">
        <div class="not-available">
            <p>No hay concursos ni sorteos disponibles.</p>
        </div>
    </ng-container>

    <ng-container *ngIf="data.length !== 0">
        <ng-container *ngFor="let item of data">
            <ion-card [routerLink]="['./take-part/' + item.id]">
                <img [src]="item.img" />
                <ion-card-header>
                    <ion-card-title>{{item.title}}</ion-card-title>
                </ion-card-header>
            </ion-card>
            <br>
        </ng-container>
    </ng-container>

</ion-content>