.not-available{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

ion-card-title{
    font-size: 22px;
}


ion-button {
    width: 60%;
    margin: 15px auto;
}