// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/* breakpoints */
$ion-break-xs: 0px;
$ion-break-sm: 576px;
$ion-break-md: 768px;
$ion-break-lg: 992px;
$ion-break-xl: 1200px;

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary             : #072357;
  --ion-color-primary-rgb         : 56, 128, 255;
  --ion-color-primary-contrast    : #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade       : #0038a7;
  --ion-color-primary-tint        : #0038a7;

  /** secondary **/
  --ion-color-secondary             : #0b6a5d;
  --ion-color-secondary-rgb         : 11, 106, 93;
  --ion-color-secondary-contrast    : #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade       : #0a5d52;
  --ion-color-secondary-tint        : #23796d;

  /** tertiary **/
  --ion-color-tertiary             : #ffb643;
  --ion-color-tertiary-rgb         : 112, 68, 255;
  --ion-color-tertiary-contrast    : #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade       : #ffb643;
  --ion-color-tertiary-tint        : #ffb643;

  /** cuaternary **/
  --ion-color-cuaternary             : #e6e6e6;
  --ion-color-cuaternary-rgb         : 230, 230, 230;
  --ion-color-cuaternary-contrast    : #ffffff;
  --ion-color-cuaternary-contrast-rgb: 255, 255, 255;
  --ion-color-cuaternary-shade       : #e6e6e6;
  --ion-color-cuaternary-tint        : #e6e6e6;

  /** success **/
  --ion-color-success             : #10dc60;
  --ion-color-success-rgb         : 16, 220, 96;
  --ion-color-success-contrast    : #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade       : #0ec254;
  --ion-color-success-tint        : #28e070;

  /** warning **/
  --ion-color-warning             : #ffce00;
  --ion-color-warning-rgb         : 255, 206, 0;
  --ion-color-warning-contrast    : #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade       : #e0b500;
  --ion-color-warning-tint        : #ffd31a;

  /** details **/
  --ion-color-details             : #9a1419;
  --ion-color-details-rgb         : 154, 20, 25;
  --ion-color-details-contrast    : #ffffff;
  --ion-color-details-contrast-rgb: 255, 255, 255;
  --ion-color-details-shade       : #831115;
  --ion-color-details-tint        : #751215;

  /** danger **/
  --ion-color-danger             : #f04141;
  --ion-color-danger-rgb         : 245, 61, 61;
  --ion-color-danger-contrast    : #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade       : #d33939;
  --ion-color-danger-tint        : #f25454;

  /** dark **/
  --ion-color-dark             : #222428;
  --ion-color-dark-rgb         : 34, 34, 34;
  --ion-color-dark-contrast    : #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade       : #1e2023;
  --ion-color-dark-tint        : #383a3e;

  /** medium **/
  --ion-color-medium             : #989aa2;
  --ion-color-medium-rgb         : 152, 154, 162;
  --ion-color-medium-contrast    : #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade       : #86888f;
  --ion-color-medium-tint        : #a2a4ab;

  /** light **/
  --ion-color-light             : #f4f5f8;
  --ion-color-light-rgb         : 244, 244, 244;
  --ion-color-light-contrast    : #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade       : #d7d8da;
  --ion-color-light-tint        : #f5f6f9;

  /** transparent **/
  --ion-color-transparent             : #ffffff;
  --ion-color-transparent-rgb         : 0, 0, 0;
  --ion-color-transparent-contrast    : #15c393;
  --ion-color-transparent-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-shade       : #15c393;
  --ion-color-transparent-tint        : #15c393;

}

@mixin create_ionic_color($name) {
  .ion-color-#{$name} {
    --ion-color-base: var(--ion-color-#{$name});
    --ion-color-base-rgb: var(--ion-color-#{$name}-rgb);
    --ion-color-contrast: var(--ion-color-#{$name}-contrast);
    --ion-color-contrast-rgb: var(--ion-color-#{$name}-contrast-rgb);
    --ion-color-shade: var(--ion-color-#{$name}-shade);
    --ion-color-tint: var(--ion-color-#{$name}-tint);
  }
}

@include create_ionic_color('details');
@include create_ionic_color('cuaternary')