<app-sidebar-menu #menu></app-sidebar-menu>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="news">
      <fa-icon [icon]="icons.newspaper"></fa-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <fa-icon [icon]="icons.matches"></fa-icon>
      <ion-label>Partidos</ion-label>
    </ion-tab-button>

   <!--- <ion-tab-button tab="logo">
    </ion-tab-button>-->

    <ion-tab-button tab="team">
      <fa-icon [icon]="icons.team"></fa-icon>
      <ion-label>Equipo</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openSideBar()">
      <fa-icon [icon]="icons.more"></fa-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<!--<ion-fab vertical="bottom" horizontal="center">
<ion-fab-button>
    <ion-icon [src]="logo" name="tenerife"></ion-icon> //
    <img src="assets/logo/logo.png" height="60%" alt="Logo" /> 
  </ion-fab-button>
</ion-fab>-->